<?xml version="1.0"?>
<opencv_storage>
    <readyToShow>0</readyToShow>
    <chessboardSetting>
        <width>8</width>
        <height>6</height>
        <squareSize>24.</squareSize>
    </chessboardSetting>
	<path>
		<camera_inputs>../Content/camera_inputs</camera_inputs>
		<camera_model>../Content/camera_models</camera_model>
		<template>../Content/template</template>
	</path>
	<camera>
		<number>4</number>
		<camera1>
            <devId>0</devId>
			<height>800</height>
			<width>1280</width>
			<sf>6</sf>
			<roi>0.5</roi>
			<contour_min_size>200</contour_min_size>
			<chessboard_num>4</chessboard_num>
		</camera1>
		<camera2>
            <devId>1</devId>
			<height>800</height>
			<width>1280</width>
			<sf>7</sf>
			<roi>0.5</roi>
			<contour_min_size>200</contour_min_size>
			<chessboard_num>4</chessboard_num>
		</camera2>
		<camera3>
            <devId>2</devId>
			<height>800</height>
			<width>1280</width>
			<sf>7</sf>
			<roi>0.5</roi>
			<contour_min_size>200</contour_min_size>
			<chessboard_num>4</chessboard_num>
		</camera3>
		<camera4>
            <devId>3</devId>
			<height>800</height>
			<width>1280</width>
			<sf>7</sf>
			<roi>0.5</roi>
			<contour_min_size>200</contour_min_size>
			<chessboard_num>4</chessboard_num>
		</camera4>
	</camera>
	<display>
		<height>1080</height>
		<width>1920</width>
		<show_debug_img>0</show_debug_img>
	</display>
	<grid>
		<angles>60</angles>
		<start_angle>4</start_angle>
		<nop_z>30</nop_z>
		<step_x>0.2</step_x>
		<radius_scale>1.5</radius_scale>
	</grid>
	<mask>
		<smooth_angle>0.2</smooth_angle>
	</mask>
	<fb>
		<keyboard>/dev/input/by-path/platform-5b110000.cdns3-usb-0:1:1.0-event-kbd</keyboard>
		<mouse>/dev/input/by-path/platform-5b110000.cdns3-usb-0:1:1.0-event-mouse</mouse>
		<display>/dev/fb0</display>
	</fb>
	<car_model>
		<x_scale>0.5</x_scale>
		<y_scale>0.5</y_scale>
		<z_scale>0.5</z_scale>
	</car_model>
</opencv_storage>
